//전체 컨테이너
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-color: #f4f4f4;
  padding: 0.5rem 0;
}

// 로그인 폼 스타일
.form {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  margin: 1rem 0;

  .title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .inputGroup {
    margin-bottom: 0.8rem;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.4rem;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem; // 버튼 간격을 줄임
  }

  .loginButton {
    padding: 0.75rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #4B0082;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #E1C16E;
    }
  }

  // 계정이 없으신가요?
  .registerText {
    text-align: center;
    margin-top: 0.8rem;
    font-size: 1rem;
    color: black;
    font-weight: normal;

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }
  }
}
